<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Brand</a>
        </div>

            <ul class="nav navbar-nav navbar-right">
                {{#if user.role}}
                <li><a href="/all-orders">Orders</a></li>
                <li>
                    <a href="/add-product"><i class="fa fa-upload" aria-hidden="true"></i> Upload product</a>
                </li>
                {{/if}}
                <li>
                    <a href="/cart"><i class="fas fa-shopping-cart"></i> Shopping
                        cart</a>
                    {{#if session.cart}}
                    <span id="inCart">{{session.cart.totalQty}}</span>
                    <span class="dropdown-content">

                    </span>
                    {{/if}}
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle user-name-area" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-tie"></i>
                        User
                        {{#if user}}
                        {{user.email}}
                        {{else}}
                        managment
                        {{/if}}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {{#if login}}
                        <li><a href="/users/logout">Logout</a></li>
                        <li><a href="/authorized">Authorized Users</a></li>
                        {{else}}
                        <li><a href="/users/signup">Registration</a></li>
                        <li><a href="/users/login">Log In</a></li>
                        {{/if}}

                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>