<section class="accordian-section" style="background-image:url(images/resource/image-2.png)">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Accordian Column-->
            <div class="accordian-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">

                    <ul class="accordion-box accordion-style-one">

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><span class="icon icon-plus flaticon-plus-symbol"></span> <span
                                        class="icon icon-minus flaticon-substract"></span></div> Strong Engines
                                Require Strong Parts.
                            </div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">
                                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel
                                            velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum
                                            auctor, nisi elit consequat </p>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block active-block">
                            <div class="acc-btn active">
                                <div class="icon-outer"><span class="icon icon-plus flaticon-plus-symbol"></span> <span
                                        class="icon icon-minus flaticon-substract"></span></div>Working Hard For
                                The Hard Working.
                            </div>
                            <div class="acc-content current">
                                <div class="content">
                                    <div class="text">
                                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel
                                            velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum
                                            auctor, nisi elit consequat </p>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><span class="icon icon-plus flaticon-plus-symbol"></span> <span
                                        class="icon icon-minus flaticon-substract"></span></div> Prices Never
                                Lower, Customer Care Never Higher.
                            </div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">
                                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel
                                            velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum
                                            auctor, nisi elit consequat </p>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>

                </div>
            </div>

            <!--Content Column-->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <h2>Don’t Let Your Truck Leak Oil, Make It Sweat Horse Power!</h2>
                    <h3>If It Runs On Diesel…We’ll Fix It!</h3>
                    <div class="text">This is Photoshop's version velit auctor aliquet. Aenean sollicitudin,
                        lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                        Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </div>
                    <a href="about.html" class="theme-btn btn-style-three">read more</a>
                </div>
            </div>

        </div>
    </div>
</section>