<section class="services-section" style="background-image:url(images/resource/image-1.png)">
            <div class="auto-container">

                <!--Upper Section-->
                <div class="upper-section">
                    <div class="row clearfix">

                        <!--Services Block-->
                        <div class="services-block col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <div class="content">
                                    <div class="image">
                                        <img src="images/resource/service-1.jpg" alt="" />
                                        <div class="overlay-box">
                                            <div class="overlay-inner">
                                                <div class="icon-box">
                                                    <div class="icon flaticon-funnel"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3><a href="services.html">Full Service</a></h3>
                                    <div class="text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel
                                        velit auctor </div>
                                </div>
                            </div>
                        </div>

                        <!--Services Block-->
                        <div class="services-block col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <div class="content">
                                    <div class="image">
                                        <img src="images/resource/service-2.jpg" alt="" />
                                        <div class="overlay-box">
                                            <div class="overlay-inner">
                                                <div class="icon-box">
                                                    <div class="icon flaticon-funnel"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3><a href="services.html">AC Repair</a></h3>
                                    <div class="text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel
                                        velit auctor </div>
                                </div>
                            </div>
                        </div>

                        <!--Services Block-->
                        <div class="services-block col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                                <div class="content">
                                    <div class="image">
                                        <img src="images/resource/service-3.jpg" alt="" />
                                        <div class="overlay-box">
                                            <div class="overlay-inner">
                                                <div class="icon-box">
                                                    <div class="icon flaticon-funnel"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3><a href="services.html">Oil Change</a></h3>
                                    <div class="text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel
                                        velit auctor </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!--Lower Section-->
                <div class="lower-section">
                    <div class="row clearfix">

                        <!--Image Column-->
                        <div class="image-column col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-column">
                                <div class="image">
                                    <img src="images/resource/car.jpg" alt="" />
                                    <span class="icon"><img src="images/resource/duty.png" alt="" /></span>
                                </div>
                            </div>
                        </div>

                        <!--Content Column-->
                        <div class="content-column col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-column">
                                <h2>Don’t Let Your Truck Leak Oil, Make It Sweat Horse Power!</h2>
                                <h3>If It Runs On Diesel…We’ll Fix It!</h3>
                                <div class="text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel
                                    velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                                    consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh
                                    vulputate cursus a sit amet mauris. </div>
                                <a href="about.html" class="theme-btn btn-style-two">read more</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>