<section class="main-slider">
    <div class="main-slider-carousel owl-carousel owl-theme">
        <div class="slide" style="background-image:url(images/main-slider/image-1.jpg)">
            <div class="auto-container">
                <div class="content">
                    <div class="rating">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <h2>Building Your Trust <span>Since 1968.</span></h2>
                </div>
            </div>
        </div>
        <div class="slide" style="background-image:url(images/main-slider/image-2.jpg)">
            <div class="auto-container">
                <div class="content">
                    <div class="rating">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <h2>Building Your Trust <span>Since 1968.</span></h2>
                </div>
            </div>
        </div>
    </div>
</section>